@import "/css/global.css";

/*font-family: 'Playfair Display', serif;*/
/*font-family: 'Open Sans', sans-serif;*/

/*-----INDEX-----*/
/*--header*/
.index-header {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(
        to right bottom,
        #011826ab,
        #011826c7),
        url(/img/Index/Index_hero-banner.jpg);
        background-size: cover;
        background-position: top;
    color: var(--light);
    text-align: center;
    padding-bottom: 15rem;
    padding-top: 10rem;
}
.index-header hr {
    width: 70%;
    border: 0.5px solid var(--light-blue);
    margin-top: 7rem;
}
.index-header h2 {
    margin-top: 3rem;
    font-weight: normal;
    font-size: 3rem;
}
.index-header div {
    margin-top: 10rem;
    font-size: 1.7rem;
}
.index-header h1 {
    font-size: 5rem;
    font-family: 'Playfair Display', serif;
}

/*--main*/
.index-main {
    display: flex;
    flex-direction: column;
}

/*discover*/
.index-discover {
    background-color: var(--main-blue);
    min-height: 50vh;
    color: var(--light);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    text-align: center;
    padding-top: 6rem;
    padding-bottom: 6rem;
}
.index-discover hr {
    width: 40%;
    border: 0.5px solid var(--light-blue);
    margin-bottom: 4rem;
}
.index-discover h3 {
    font-family: 'Playfair Display', serif;
    font-size: 3rem;
    margin-bottom: 2rem;
}
.index-discover div a {
    background-color: var(--purple);
    color: var(--light);
}
.index-discover div a:hover {
    background-color: #2d4980;
    border: 1px solid var(--light-blue);
}
.p-div {
    margin-bottom: 6rem;
}
.btn-div {
    min-width: 30%;
    display: flex;
    justify-content: space-between;
}
.btn-margin {
    margin-right: 2rem;
}

/*kids*/
.index-kids {
    display: flex;
    min-height: 50vh;
}
.index-kids aside {
    background-color: var(--dark-blue);
    color: var(--light);
    padding: 6rem;
    width: 50%;
}
.index-kids aside h3 {
    font-family: 'Playfair Display', serif;
    font-size: 3rem;
    margin-bottom: 2rem;
}
.index-kids aside hr {
    width: 40%;
    border: 0.5px solid var(--light-blue);
    margin-bottom: 4rem;
}
.index-kids aside p {
    margin-bottom: 4rem;
}
.index-kids aside div {
    color: var(--kids-orange);
    margin-bottom: 4rem;
    width: 40%;
    display: flex;
    justify-content: space-between;
}
.index-kids aside a {
    background-color: var(--light-blue);
    color: var(--dark-blue);
    text-align: center;
}
.index-kids aside a:hover {
    background-color: var(--light);
}
.index-kids > div {
    width: 50%;
    background-image: url(/img/Index/kids-index.jpg);
    background-size: cover;
    background-position: center;
}
.index-kids_club-icon {
    background-color: var(--main-blue);
    min-height: 30vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
    padding: 3rem;
    color: var(--kids-orange);
    display: none;
}
.index-kids_club-icon h2 {
    color: var(--light-blue);
    margin-top: 2rem;
}

/*school-trip*/
#index_school-trip__p {
    margin-bottom: 9rem;
}
#index_school-trip__img {
    width: 50%;
    background-image: url(/img/Index/experiment.jpg);
    background-size: cover;
    background-position: center;
}

/*join-us*/
.join-us_div {
    display: flex;
    margin-bottom: 2rem;
}
.join-us_div h4 {
    margin: 0 3rem;
}
.index-discover h5 {
    font-style: italic;
    margin-bottom: 10rem;
}
.btn_join-us {
    background-color: var(--purple);
    color: var(--light);
}
.btn_join-us:hover {
    background-color: #2d4980;
    border: 1px solid var(--light-blue);
}

/*visit*/
#index_visit-background {
    background-image: linear-gradient(
        to right bottom,
        #011826ab,
        #011826c7),
        url(/img/Index/visit.jpg);
        background-size: cover;
        background-position: center;
}
#index_visit-background p {
    margin-bottom: 10rem;
}
#btn-visit {
    background-color: var(--green-blue);
    color: var(--light);
}
#btn-visit:hover {
    background-color: var(--light-blue);
    color: var(--dark-blue);
}
/*----/INDEX/END-----*/
/*-----HEADERS-----*/
.header-align {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 5rem 3rem;
}
.header-align h1 {
    font-size: 7rem;
    font-weight: 900;
}
.header-align p {
    margin-top: 7rem;
    padding-bottom: 18rem;
    font-size: 1.8rem;
    font-weight: bold;
}
/*-----/HEADERS/END-----*/
/*-----SCHOOL TRIP-----*/
#school-trip_bg {
    background-image: linear-gradient(
        to right bottom,
        #011826ab,
        #011826c7),
        url(/img/school-trip/school.jpg);
        background-size: cover;
        background-position: center;
        color: var(--light);
}
.school-trip_main {
    display: flex;
}
.school-trip_main section {
    display: flex;
    flex-direction: column;
    background-color: var(--main-blue);
    color: var(--light);
    min-width: 50%;
    min-height: 65vh;
    padding: 6rem;
}
.school-trip_main div {
    width: 50%;
    background-image: url(/img/school-trip/trip.jpg);
    background-position: center;
    background-size: cover;
}
.school-trip_main h2 {
    font-family: 'Playfair Display', serif;
    font-size: 3rem;
    margin-bottom: 2rem;
}
.school-trip_main hr {
    width: 40%;
    border: 0.5px solid var(--light-blue);
    margin-bottom: 4rem;
}
.school-trip_main p {
    margin-bottom: 4rem;
}
.bold-text {
    font-weight: bold;
}
/*-----/SCHOOL TRIP/END-----*/
/*-----EXHIBITIONS-----*/
#exhibitions-bg {
    background-image: linear-gradient(
        to right bottom,
        #01182681,
        #01182685),
        url(/img/exhibitions/electro.jpg);
        background-size: cover;
        background-position: center;
        color: var(--light);
}
.exhibitions-main {
    display: flex;
    flex-direction: column;
    color: var(--light);
}
.exhibitions-main section {
    min-height: 50vh;
}
.exhibitions-main aside {
    background-color: var(--main-blue);
    min-width: 50%;
    padding: 6rem;
}
.exhibitions-main div {
    min-width: 50%;
}
.exhibitions-main h2 {
    font-family: 'Playfair Display', serif;
    font-size: 3rem;
    margin-bottom: 2rem;
}
.exhibitions-main hr {
    width: 50%;
    border: 0.5px solid var(--light-blue);
    margin-bottom: 4rem;
}
.section_bio-med {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 6rem;
    text-align: center;
    background-image: linear-gradient(
        to right bottom,
        #011826cb,
        #011826d0),
        url(/img/exhibitions/biology.jpg);
        background-size: cover;
        background-position: center;
}
/*--images*/
.img-settings {
        background-size: cover;
        background-position: center;
}
.cosmology-img {
    background-image: linear-gradient(
        to right bottom,
        #01182659,
        #01182633),
        url(/img/exhibitions/cosmology.jpg);
}
.evolution-img {
    background-image: linear-gradient(
        to right bottom,
        #0118262d,
        #01182633),
        url(/img/exhibitions/evolution.jpg);
}
.robo-ai-img {
    background-image: linear-gradient(
        to right bottom,
        #0118262d,
        #01182633),
        url(/img/exhibitions/robotics.jpg);
}
.ecology-img {
    background-image: linear-gradient(
        to right bottom,
        #0118262d,
        #01182633),
        url(/img/exhibitions/ecology.jpg);
}
/*-----/EXHIBITIONS/END-----*/
/*-----EVENTS-----*/
#events-bg {
    background-image: linear-gradient(
        to right bottom,
        #011826a4,
        #011826c2),
        url(/img/events/events-hero.jpg);
        background-size: cover;
        background-position: center;
        color: var(--light);
}
.events-main {
    display: flex;
    flex-direction: column;
    color: var(--light);
}
.events-main section {
    min-height: 50vh;
}
.events-main aside {
    min-width: 50%;
    background-color: var(--main-blue);
    padding: 6rem;
}
.events_split-div {
    min-width: 50%;
    padding: 6rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-size: cover;
    background-position: center;
}
.events_split-div div {
    min-height: 100%;
    min-width: 100%;
    display: flex;
    justify-content: space-between;
}
.events_split-div p {
    justify-self: flex-end;
}
/*--images*/
.energetica-img {
    background-image: linear-gradient(
        to right bottom,
        #011826a4,
        #011826a4),
        url(/img/events/energetica.jpg);
}
.night-img {
    background-image: linear-gradient(
        to right bottom,
        #011826a4,
        #011826a4),
        url(/img/events/night-in-museum.jpg);
}
.events-main hr {
    width: 50%;
    border: 0.5px solid var(--light-blue);
    margin-bottom: 4rem;
}
.events-main h2 {
    font-family: 'Playfair Display', serif;
    font-size: 3rem;
    margin-bottom: 2rem;
}
.section_aeronautics {
    padding: 6rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-image: linear-gradient(
        to right bottom,
        #011826a4,
        #011826c2),
        url(/img/events/aeronautics.jpg);
        background-size: cover;
        background-position: center;
}
.section_aeronautics div {
    display: flex;
    justify-content: space-between;
    min-width: 100%;
    margin-bottom: 2rem;
}
/*-----/EVENTS/END-----*/
/*-----KIDS-----*/
#kids-bg {
    background-image: linear-gradient(
        to right bottom,
        #011826a4,
        #011826c2),
        url(/img/kids/kids.jpg);
        background-size: cover;
        background-position: center;
        color: var(--light);
}
.kids-main {
    display: flex;
    flex-direction: column;
    color: var(--light);
}
.kids-main i {
    color: var(--kids-orange);
}
.kids_club-icon {
    background-color: var(--main-blue);
    min-height: 40vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
    padding: 3rem;
}
.kids_club-icon div h2 {
    color: var(--light-blue);
    margin-top: 2rem;
}
.kids_info {
    min-height: 50vh;
    display: flex;
}
.kids_info aside {
    background-color: var(--dark-blue);
    min-width: 50%;
    padding: 6rem;
}
.kids_info aside div {
    display: flex;
    align-items: center;
    margin-bottom: 2rem;
}
.kids_info aside h2 {
    font-family: 'Playfair Display', serif;
    font-size: 3rem;
    margin-right: 3rem;
}
.kids_info aside hr {
    width: 50%;
    border: 0.5px solid var(--light-blue);
    margin-bottom: 4rem;
}
.kids_info aside p {
    margin-bottom: 4rem;
}
.kids_info div {
    min-width: 50%;
    background-size: cover;
    background-position: center;
}
.summer-suns_img {
    background-image: linear-gradient(
        to right bottom,
        #0118266e,
        #01182675),
        url(/img/kids/summer.jpg);
}
.young-stars_img {
    background-image: linear-gradient(
        to right bottom,
        #0118266c,
        #0118266b),
        url(/img/kids/young-star.jpg);
}
.kids_extra-section {
    min-height: 40vh;
    background-color: var(--main-blue);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
    padding: 3rem;
    font-weight: bold;
    font-size: 1.9rem;
}
/*-----/KIDS/END-----*/
/*-----JOIN US-----*/
#join-us_bg {
    background-image: linear-gradient(
        to right bottom,
        #011826c9,
        #011826d3),
        url(/img/join-us/join-us_banner.jpg);
        background-size: cover;
        background-position: center;
        color: var(--light);
}
.join-us_main {
    display: flex;
    flex-direction: column;
    color: var(--light);
}
.join-us_main section {
    min-height: 50vh;
}
.join-us_split-section {
    display: flex;
}
.join-us_split-section aside {
    min-width: 50%;
    background-color: var(--dark-blue);
    padding: 6rem;
}
.join-us_main h2 {
    font-family: 'Playfair Display', serif;
    font-size: 3rem;
    margin-bottom: 2rem;
}
.join-us_main hr {
    width: 50%;
    border: 0.5px solid var(--light-blue);
    margin-bottom: 4rem;
}
.join-us_split-section div {
    min-width: 50%;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
.join-us_split-section div div {
    text-align: center;
    min-height: 50%;
    background-color: #024059ec;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}
.join-us_split-section div h3 {
    font-size: 1.9rem;
    text-decoration: underline;
}
.join-us_full-section {
    background-image: linear-gradient(
        to right bottom,
        #011826d0,
        #011826ee),
        url(/img/join-us/research.jpg);
        background-size: cover;
        background-position: center;
    display: flex;
    flex-direction: column;
   align-items: center;
   padding: 6rem;
}
.join-us_full-section > div {
    display: flex;
    min-width: 50%;
    justify-content: space-between;
}
.join-us_full-section div div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.join-us_full-section > div > p {
 margin-right: 2rem;
 font-weight: bold;
}
.join-us_full-section h3 {
    text-decoration: underline;
}
/*--images*/
.volunteer-bg {
    background-image: linear-gradient(
        to right bottom,
        #01182634,
        #01182641),
        url(/img/join-us/volunteer.jpg);
}
.internship-bg {
    background-image: linear-gradient(
        to right bottom,
        #01182634,
        #01182641),
        url(/img/join-us/internship.jpg);
}
.support-bg {
    background-image: linear-gradient(
        to right bottom,
        #01182634,
        #01182641),
        url(/img/join-us/support.jpg);
}
/*-----/JOIN US/END-----*/
/*-----VISIT-----*/
/*--header*/
.visit-header {
    display: flex;
    flex-direction: column;
    color: var(--light);
}
.visit-header_top {
    min-height: 20vh;
    background-color: var(--main-blue);
    display: flex;
    justify-content: center;
    align-items:center ;
    padding: 3rem;
    font-size: 1.1rem;
}
.visit-header_top i {
    margin: 0 1.5rem;
    color: var(--light-blue);
}

.visit-header_mid {
    padding: 4rem 6rem 6rem 6rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(
        to right bottom,
        #024059c4,
        #024059e5),
        url(/img/visit/clock.jpg);
        background-size: cover;
        background-position: center;
    min-height: 50vh;
    font-weight: bold;
}
.visit-header_mid > div {
    display: flex;
    align-items: center;
}
.visit-header_mid > div div {
    margin-right: 2rem;
}
.visit-header_mid h2 {
    margin-bottom: 2rem;
    font-size: 3rem;
}
.visit-header_mid hr {
    min-width: 40rem;
    border: 0.5px solid var(--light-blue);
    margin-bottom: 3rem;
}

.visit-header_bot {
   background-color: var(--dark-blue);
   min-height: 24vh;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   padding: 2rem;
}
.visit-header_bot h2 {
    font-size: 3rem;
    margin-bottom: 2rem;
    color: var(--light-blue);
}
.visit-header_bot h3 {
    font-size: 1.4rem;
}

/*--main*/
/*full sections*/
.visit_full-section {
    min-height: 65vh;
    padding: 6rem;
    background-image: linear-gradient(
        to right bottom,
        #024059c4,
        #024059e5),
        url(/img/visit/accessibility.jpg);
        background-size: cover;
        background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: var(--light);
    text-align: center;
}
.visit_full-section h2 {
    font-size: 3rem;
    margin-bottom: 2rem;
}
.visit_full-section hr {
    min-width: 40rem;
    border: 0.5px solid var(--light-blue);
    margin-bottom: 5rem;
}
.visit_full-section p {
    margin-bottom: 5rem;
}
.visit_full-section i {
    color: var(--light-blue);
}
#shop-bg {
    background-image: linear-gradient(
        to right bottom,
        #024059c4,
        #024059e5),
        url(/img/visit/shop.jpg);
}

/*split section*/
.visit_split-section {
    display: flex;
    min-height: 65vh;
}
.visit_split-section aside {
    padding: 6rem;
    color: var(--light);
}
.aside_guided-tours {
    min-width: 50%;
    background-color: var(--main-blue);
}
.aside_guided-tours h2 {
    margin-bottom: 2rem;
}
.aside_guided-tours hr {
    border: 0.5px solid var(--light-blue);
    max-width: 50%;
    margin-bottom: 4rem;
}
.aside_guided-tours p {
    margin-bottom: 3rem;
}
.aside_guided-tours h3 {
    font-size: 1.8rem;
    text-decoration: underline;
}
.aside_food-drinks {
    background-color: var(--dark-blue);
    min-width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.aside_food-drinks h2 {
    color: var(--light-blue);
    font-size: 3.5rem;
    margin-bottom: 4rem;
}

/*-----MEDIA QUERIES-----*/
/*800px*/
@media only screen and (max-width: 800px) {
    /*--INDEX--*/
    /*--kids*/
    .index-kids {
        min-height: 40vh;
    }
    .index-kids_club-icon {
        display: flex;
    }
    .index-kids aside div {
        display: none;
    }
    .index-kids aside {
        padding: 3rem;
    }

    /*--KIDS--*/
    .kids_club-icon {
        min-height: 25vh;
        font-size: 1.4rem;
    }
    .kids-club_margin {
        margin-right: 2rem;
    }
    .kids_info div {
        display: none;
    }
    .kids_info aside {
        background-image: linear-gradient(
        to right bottom,
        #0240598e,
        #02405981),
        url(/img/kids/young-star.jpg);
        background-size: cover;
        background-position: center;
        min-width: 100%;
    }
    #summer-suns_mobile-bg {
        background-image: linear-gradient(
        to right bottom,
        #024059c7,
        #024059cb),
        url(/img/kids/summer.jpg);
    }
    .kids_extra-section {
        min-height: 25vh;
        font-size: 1.3rem;
    }

    /*--SCHOOL TRIP--*/
    .school-trip_main div {
        display: none;
        width: 0;
    }
    .school-trip_main section {
        width: 100%;
        min-height: 65vh;
    }
    .school-trip_main hr {
        width: 50%;
    }

    /*--EXHIBITIONS--*/
    .flex-row_left {
        flex-direction: column;
    }
    .flex-row_left div {
        min-width: 100%;
        min-height: 30vh;
    }
    .flex-row_right {
        flex-direction: column-reverse;
    }
    .flex-row_right div {
        min-width: 100%;
        min-height: 30vh;
    }
    .exhibitions-main aside {
        display: flex;
        flex-direction: column;
        justify-content: center;
        min-height: 50vh;
        min-width: 100%;
        padding: 6rem;
    }

    /*--EVENTS--*/
    .events-main aside {
        min-width: 100%;
        min-height: 50vh;
    }
    .events_split-div {
        min-width: 100%;
        padding: 4rem;
        justify-content: space-between;
    }
    .events_split-div div {
        min-height: 50%;
    }
    .section_aeronautics div {
        margin-bottom: 4rem;
    }
    .section_aeronautics {
        padding: 3rem;
    }

    /*--JOIN US--*/
    .join-us_split-section {
        display: flex;
        flex-direction: column;
    }
    .join-us_split-section aside {
        min-height: 45vh;
    }
    .col-reverse {
        flex-direction: column-reverse;
    }
    .join-us_split-section div div {
        padding: 4rem 2rem;
    }
    .join-us_split-section div div p {
        margin-bottom: 2rem;
    }
    .join-us_full-section > div {
        flex-direction: column;
    }
    .join-us_full-section > div p {
        margin-bottom: 2rem;
    }
}
/*500px*/
@media only screen and (max-width: 500px) {
    /*--HEADERS--*/
    .header-align {
        min-height: 90vh;
        padding: 3rem 3rem;
    }
    .header-align h1 {
        font-size: 5rem;
    }
    .header-align p {
        margin-top: 3rem;
        padding-bottom: 5rem;
        font-size: 1.5rem;
    }

    /*--INDEX--*/
    /*--header*/
    .index-header {
        min-height: 90vh;
        padding: 5rem 1rem;
        background-position: left;
    }
    .index-header hr {
        margin-top: 5rem;
    }
    .index-header h2 {
        margin-top: 3rem;
        font-size: 2rem;
    }
    .index-header div {
        margin-top: 5rem;
        font-size: 1.4rem;
    }
    .index-header h1 {
        font-size: 3rem;
    }
    /*--discover*/
    .index-discover {
        padding: 6rem 3rem;
        justify-content: center;
    }
    .index-discover hr {
        width: 100%;
    }
    .btn-div {
        min-width: 30%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
    }
    .btn-margin {
        margin-right: 0;
        margin-bottom: 3rem;
    }
    /*--kids*/
    .index-kids > div {
        display: none;
    }
    .index-kids aside {
        background-image: linear-gradient(
        to right bottom,
        #011826d3,
        #011826de),
        url(/img/Index/kids-index.jpg);
        background-size: cover;
        background-position: top;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        padding: 6rem 2rem;
        width: 100%;
    }
    .index-kids_club-icon {
        font-size: 1.2rem;
    }
    .index-kids aside hr {
        width: 100%;
    }
    /*--school trip*/
    #index_schooltrip_mobile-bg {
        background-image: linear-gradient(
        to right bottom,
        #011826d0,
        #011826da),
        url(/img/Index/experiment.jpg);
    }
    /*--join us*/
    .join-us_div {
        margin-bottom: 1rem;
        flex-direction: column;
    }
    .join-us_div h4 {
        margin: 0 0;
        margin-bottom: 1rem;
    }
    .index-discover h5 {
        margin-bottom: 5rem;
    }
    /*--visit*/
    #index_visit-background p {
        margin-bottom: 5rem;
    }

    /*--KIDS--*/
    .kids_club-icon {
        min-height: 30vh;
        font-size: 1.2rem;
        padding: 4rem;
    }
    .kids_info aside {
        padding: 3rem;
    }
    .kids_info aside hr {
        width: 100%;
    }
    .kids_info aside p {
        font-size: 1.5rem;
    }

    /*--SCHOOL TRIP--*/
    .school-trip_main section {
        width: 100%;
        min-height: 65vh;
        padding: 3rem;
    }
    .school-trip_main hr {
        width: 100%;
    }
    /*--EXHIBITIONS*/
    .exhibitions-main aside {
        padding: 3rem;
    }
    .section_bio-med {
        padding: 3rem;
    }
    .exhibitions-main hr {
        width: 100%;
    }
    .exhibitions-main p {
        font-size: 1.3rem;
    }

    /*--EVENTS--*/
    .events-main aside {
      padding: 3rem;
      justify-content: center;
      display: flex;
      flex-direction: column;
    }
    .events_split-div {
        padding: 3rem;
    }
    .events-main hr {
        width: 100%;
    }
    .events-main h2 {
        font-size: 2.5rem;
    }
    .events-main p {
        font-size: 1.4rem;
    }
    .events-main h3 {
        font-size: 1.5rem;
    }

    /*JOIN US*/
    .join-us_split-section aside {
        padding: 4rem 3rem;
    }
    .join-us_full-section {
        padding: 4rem 3rem;
    }
    .join-us_main hr {
        width: 100%;
    }
    .join-us_split-section p {
        font-size: 1.5rem;
    }
    .join-us_split-section div h3 {
        font-size: 1.6rem;
    }
    .join-us_full-section > div > p {
        margin-right: 0;
        font-size: 1.5rem;
    }
    .join-us_full-section h3 {
        font-size: 1.6rem;
    }
    .join-us_full-section > div > div > p {
        font-size: 1.5rem;
    }
}
/*350px*/
@media only screen and (max-width: 350px) {
    /*--HEADER--*/
    #exhibitions-bg h1 {
        font-size: 4rem;
    }

    /*--INDEX--*/
    .index-kids aside p {
        font-size: 1.3rem;
    }

    /*--KIDS--*/
    .kids_info aside p {
        font-size: 1.3rem;
    }

    /*--SCHOOL TRIP--*/
    .school-trip_main h2 {
        font-size: 2.5rem;
    }
    .school-trip_main p {
        font-size: 1.4rem;
    }
}

